<div class="header"></div> <!-- header -->
<main class="site-content" role="main">
    <div class="left-nav"></div>
    <!--<div id="folders" class="left-nav-item">-->
        <!--<div class="folder-header">-->
            <!--<h4><i class="fa fa-folder-open" aria-hidden="true"></i> Folders</h4>-->
            <!--<h4 class="close-button"><i class="fa fa-times" aria-hidden="true"></i></h4>-->
        <!--</div>-->
        <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card">-->
                <!--<div class="card-header list-card" role="tab" id="headingOne">-->
                    <!--<h5 class="mb-0">-->
                        <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                        <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"-->
                           <!--aria-expanded="false" aria-controls="collapseOne">Other usefull links-->
                        <!--</a>-->
                    <!--</h5>-->
                <!--</div>-->

                <!--<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                    <!--<div class="card-block">-->
                        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                        <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="card-header list-card" role="tab" id="headingTwo">-->
                    <!--<h5 class="mb-0">-->
                        <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                        <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"-->
                           <!--aria-expanded="false" aria-controls="collapseTwo">-->
                            <!--Favorites-->
                        <!--</a>-->
                    <!--</h5>-->
                <!--</div>-->
                <!--<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">-->
                    <!--<div class="card-block">-->
                        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                        <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="card-header list-card" role="tab" id="headingThree">-->
                    <!--<h5 class="mb-0">-->
                        <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                        <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordion"-->
                           <!--href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
                            <!--Java Info-->
                        <!--</a>-->
                    <!--</h5>-->
                <!--</div>-->
                <!--<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">-->
                    <!--<div class="card-block">-->
                        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
                        <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
         <!--</div>-->
    <!--</div>-->

    <div class="container board">
    </div> <!-- board -->

    <div class="create-item">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-table">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-base">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</main>

<div class="footer"></div> <!-- footer -->