<header class="site-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="left-header">
                    <h4><i class="fa fa-h-square" aria-hidden="true"></i> Main</h4>
                </div>
                <div class="right-header">
                    <h4>Hello, <a href="#">H1totsu</a></h4>
                </div>
            </div>
        </div>
    </div>
</header>