<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5>Created only for <a href="#">H1totsu</a>, by <a
                        href="#">@h1totsu</a>.</h5>
            </div>
        </div>
    </div>
    </div>
</footer>
